.header {

}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 104px;
}

.main-logo {
    margin-left: 18px;
}

.header-guide {
    padding-top: 4px;
    list-style: none;
    width: 680px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header-guide-buy {
    margin-left: auto;
}

