.header {

}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 104px;
}

.main-logo {
    margin-left: 18px;
}

.header-guide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    min-height: 104px;
    min-width: 680px;

    list-style: none;

    padding-top: 4px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header-guide-buy {
    margin-left: auto;
}

