.structure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    background-color: #f4f4f4;
}

.advantages {
    width: 505px;

    margin-top: 67px;
    padding: 0;
    list-style: none;
}

.advantages li {
    position: relative;
    padding-left: 220px;
}

.advantages li:before {
    display: block;
    position: absolute;
    height: 67px;
    width: 110px;
}

.advantages li:nth-child(1):before {
    content: " ";
    background-image: url("../img/create_web_better_1.png");
    left: 86px;
    top: 4px;
}

.advantages li:nth-child(2):before {
    content: " ";
    background-image: url("../img/powerful_tool.png");
    width: 90px;
    height: 80px;
    left: 87px;
}

.advantages li:nth-child(3):before {
    content: " ";
    background-image: url("../img/exp_staff.png");
    left: 102px;
    width: 60px;
    height: 84px;
}

.advantages li:nth-child(4):before {
    content: " ";
    background-image: url("../img/create_web_better_2.png");
    top: 6px;
    left: 97px;
    width: 71px;
    height: 71px;
}

.advantage-name {
    margin-top: 10px;
    margin-bottom: 0;

    letter-spacing: 0.3px;
    font-size: 18px;
    font-weight: bold;
}

.advantage-description {
    margin-top: 13px;
    margin-bottom: 31px;

    width: 340px;

    line-height: 20px;
    color: #969ea5;
    font-size: 16px;
}

.result {
    font-size: 60px;
    font-weight: bold;
    color: #8d81ac;

    margin-bottom: 45px;
    margin-top: 67px;
    margin-left: 20px;
}

.window {
    object-position: -20px -20px;
}